# Проектная работа по Introduction to Python

#### > Task01:

Create 2 variables `name`, `age`  and enter any name and age.

Then print them through f-string.


Desired output:
```python
    My name is <name>. I am <age> years old.
```

In [2]:
name = 'Yedige'
age = 22
print (f"My name is {name}. I am {age} years old.")

My name is Yedige. I am 22 years old.

#### > Task02:

Imagine you have `total_money` amount of money. You are buying jam jars. 
Every jar costs `price` (`price > 0`). Figure out how many jars you can purchase


```python
total_money = 5000 
price = 1579
```

In [4]:
total_money = 5000 
price = 1579
jar_count = total_money//price
print(jar_count)

3

#### > Task03:

Solve the equation
ax<sup>2</sup> + bx + c = 0

Example:

3x<sup>2</sup> + 7x − 10 = 0

In this example a=3, b=7, c=−10.

These equations have 2 solutions

$$ x_1 = {-b + \sqrt{b^2-4ac} \over 2a} $$ $$ x_2 = {-b - \sqrt{b^2-4ac} \over 2a} $$

**Objective:** you have a, b, and c find both roots of the equation<br>
```python
a = [6, 2, -4, 20]
b = [11, -4, -7, -15]
c = [-35, -2, 12, -10]
```

In [43]:
a = [6, 2, -4, 20]
b = [11, -4, -7, -15]
c = [-35, -2, 12, -10]

x_1 = []
x_2 = []

In [44]:
import math

for i in range(len(a)):
    discriminant = b[i]**2 - 4*a[i]*c[i]

    root1 = (-b[i]+ math.sqrt(discriminant))/(2*a[i])
    root2 = (-b[i]- math.sqrt(discriminant))/(2*a[i])
    
    x_1.append(root1)
    x_2.append(root2)

print(x_1)
print(x_2)

[1.6666666666666667, 2.414213562373095, -2.8155218370325032, 1.175390529679106]
[-3.5, -0.41421356237309515, 1.065521837032503, -0.42539052967910607]

#### > Task04:
We have 2 To-do lists: `tasks_my` и `tasks_friend`.

Merge these lists into 1

```python
tasks_my = ['Do the homework', 'Buy groceries', 'Read a book']
tasks_friend = ['Read a book', 'Go to university', 'Wash the car']
```

In [1]:
tasks_my = ['Do the homework', 'Buy groceries', 'Read a book']
tasks_friend = ['Read a book', 'Go to university', 'Wash the car']
tasks_all = tasks_my + tasks_friend
print(set(tasks_all))

{'Buy groceries', 'Read a book', 'Do the homework', 'Go to university', 'Wash the car'}

#### > Task05:
Create the priroty queue in this To-do list.

Create a dictionary. The structure is as follows:

| Priority	| Task |
| ----- | ------ |
| 0 | Feed a cat |
| 1 | Do the homework |
| 2 | Read a Data Analytics Book |
| 3 | Buy Groceries |
| 4 |  Clean the house |

In [2]:
import pandas as pd
my_tasks = {"Priority":[0,1,2,3,4],
           "Task":['Feed a cat', 'Do the homework', 'Read a Data Analytics Book', 'Buy Groceries','Clean the house ']}
df = pd.DataFrame(my_tasks)
df

   Priority                        Task
0         0                  Feed a cat
1         1             Do the homework
2         2  Read a Data Analytics Book
3         3               Buy Groceries
4         4            Clean the house

#### > Task06:
The past week has been tough, and you constantly had to hurriedly add new tasks to your notebook. Now, the same task may be duplicated in your notebook! Deadlines are looming, so you are ready to tackle tasks without worrying about their order.

You are given a dictionary of tasks tasks. Go through all the keys and remove duplicates only within the values corresponding to each key. Create a new dictionary new_tasks that will have the same keys and tasks, but without duplicates.

```python
tasks = { 
    0: ["Feed the cat", "Feed the cat"],
    1: ["Feed the cat", "Pick up the package"]
}

# Result
new_tasks = {
    0: ['Feed the cat'],
    1: ['Feed the cat', 'Pick up the package']
}

```

In [3]:
tasks = { 
    0: ["Feed the cat", "Feed the cat"],
    1: ["Feed the cat", "Pick up the package"]
}

In [4]:
for key,task_list in tasks.items():
    unique_tasks = list(set(task_list))
    tasks[key] = unique_tasks
print(tasks)

{0: ['Feed the cat'], 1: ['Pick up the package', 'Feed the cat']}

#### > Task07:
We studied the market conditions for deposits and want to calculate what our initial deposit will turn into n years later.

Write a function final_balance that takes the initial amount init_sum, the interest rate interest_rate, and the number of years years as input. The function should return the amount after this period.

|init_sum |	interest_rate	| years|
|-----|--------|--------|
|1_000_000 |	14.3	|10|
|1_200_000 |	 11.5	|8|
|700_000 |	 9.9	|3|
|825_000 |	 13.3	|7|

*compound interest case

In [5]:
def final_balance(init_sum,interest_rate,years):
    if interest_rate >= 1:
        final_balance = init_sum*(1 + interest_rate/100)**years
    else:
        final_balance = init_sum*(1 + interest_rate)**years
    return final_balance

In [6]:
final_balance(1000,1,3)

1030.3010000000002

#### > Task08. Ошибки и их обработка 
Create a function called `sum_as_ints`, which accepts **a list** of strings, turns them into integers through `int(element)` and computes their sum. List may contain any values, but if they are not convertible to integer through `int(element)`, the function should drop them.

In [7]:
numbers = ["1","2","3","4","Hello","2.9","3.333"]
a = ["100","Hello","3.4","35","4.1"]
ints = []

In [8]:
def sum_as_ints(x):
    for i in x:
        try:
            ints.append(int(float(i)))
        except (ValueError, TypeError):
            ints.append(0)
    print(sum(ints))

In [9]:
sum_as_ints(a)

142

#### > Task09:
You need to create a function called `find_substr`,  which accepts 2 arguments: substring (any length) and string which contains the substring value to look for, and returns **a tuple**, which is [start, stop) the first position where the substring is found.

Example:
```python
find_substr("We", "We are going on a beach")
# Output:
(0, 2) 

find_substr("sm", "small car")
# Output:
(0, 2)

```

In [10]:
def find_substr(substring,string):
    start = string.find(substring)
    
    if start == -1:
        return(-1,-1)
    
    stop = len(substring) + start
    return (start,stop)

In [11]:
find_substr("we","Aren't we?")
find_substr("many","How many years ago?")

(4, 8)

#### > Task10. Строки
You need to create a function called `check_string`, which checks the string for:
1. unnecessary spaces. In case there are, the string is False;
1. the first word should start with a capital letter; 
1. the last symbol of the string is a dot.

Example:
```python
def check_string(string):
    <...>
    return result

check_string('I am going to work today.')
True
check_string('I am going to work Today.')
False
check_string('I am going to work today')
False
check_string(' I am going to work today.')
False
```

In [12]:
def check_string(string):
    if string.strip() != string:
        return False
    
    words = string.split()
    if not words or not string.endswith('.'):
        return False
    
    if not (words[0][0].isupper() and words[0][1:].islower()):
        return False
    
    for word in words[1:]:
        if not word.islower():
            return False
        
    return True

In [13]:
check_string("We are in the car.")

True